ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    width: 25%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

img {
    width: 48px;
    margin-right: 10px;
}

.SpinIcon {
    animation: rotating 4s linear infinite;
}

li:hover .SpinIcon {
    animation-play-state: paused;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}