.SkillsPage ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsPage li {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    width: 25%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.SkillsPage img {
    max-width: 48px;
    width: 50%;
    margin-right: 10px;
}

.SkillsPage span {
    width: 50%;
}

.SpinIcon {
    animation: rotating 4s linear infinite;
}

li:hover .SpinIcon {
    animation-play-state: paused;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .SkillsPage li {
        width: 50%;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .SkillsPage li {
        font-size: 1em;
    }

    .SkillsPage img {
        max-width: 32px;
    }
}

@media screen and (max-width: 436px) {
    .SkillsPage ul {
        padding: 0;
    }

    .SkillsPage li {
        justify-content: flex-end;
    }
}