.Skills {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.Skills > div {
  height: 100%;
}

.SkillsPage ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SkillsPage li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  font-size: 1.2em;
}

.SkillsPage img {
  max-width: 32px;
  margin-right: 10px;
}

.SpinIcon {
  animation: rotating 4s linear infinite;
}

.SkillsPage a {
  color: #ed6464;
  cursor: pointer;
}

.SkillsPage p {
  margin-top: 20px;
}

.SkillsPage li:hover .SpinIcon {
  animation-play-state: paused;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 836px) {
  .SkillsPage {
    justify-content: flex-start;
  }

  .Skills {
    flex-direction: column;
    padding-left: 0;
  }

  .SkillsPage ul {
    max-width: 160px;
    margin: 0 auto;
    align-items: flex-start;
  }

  .Skills h2 {
    text-align: center;
  }

  .Skills > div {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .SkillsPage li {
    font-size: 1em;
  }
}

@media screen and (max-width: 436px) {
  .SkillsPage ul {
    padding: 0;
  }
}
