.MobileNav {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  color:#ED6464;
  cursor: pointer;
  z-index: 3;
}

.MobileNav svg {
  font-size: 3em;
}

.PrevPage {
  left: 0;
}

.NextPage {
  right: 0;
}

@media screen and (max-width: 836px) {
  .MobileNav {
    display: block;
  }
}