h3 {
    font-weight: normal;
}

.AboutPage a {
    color: #ED6464;
    cursor: pointer;
}

.Astronaut {
    font-size: 10em;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .Astronaut {
        font-size: 8em;
    }
}

/* .Wave {
    font-size: 3em;
    display: block;
    position: absolute;
    top: 48%;
    right: 40%;
    animation: waving .8s linear infinite !important;

}

@keyframes waving {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */