.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.item {
  width: 33.3%;
  max-width: 350px;
  height: 240px;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item h2 {
  color: #ed6464;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools img {
  width: 32px;
}

.projects.redBtn {
  font-size: 1em;
  border: 2px solid white;
  padding: 5px 15px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;

  transition: background-color 0.2s;
}

.projects.redBtn svg {
  margin-left: 8px;
  width: 0.8em;
}

.projects.redBtn:hover {
  background-color: #ed6464;
  border-color: #ed6464;
}

.projects.redBtn:hover svg {
  animation: jumping 1s ease-out;
}

@keyframes jumping {
  0% {
    transform: translateX(10px);
  }

  20% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(8px);
  }

  60% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 836px) {
  .item {
    width: 50%;
  }

  .projects{
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
}
