aside {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 120px;
}

aside div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    
    transition: all .2s;
}

.Active > div {
    background-color: white;
}

aside div:hover {
    background-color: white;
}

aside div + div {
    margin-top: 15px;
}

@media screen and (max-width: 1199px) {
    aside {
        right: 1%;
    }
}

@media screen and (max-width: 836px) {
    aside {
        display: none;
    }
  }