.SideBar {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  min-height: 165px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.SideBar > div {
  width: 38px;
  height: 38px;
  animation: swing 2s linear infinite;
  color: #ed6464;
}

.SideBar img {
  width: 100%;
  height: 100%;
}

.SideBar a div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;

  transition: all 0.2s;
}

.Active div {
  background-color: white;
}

.SideBar a div:hover {
  background-color: white;
}

.SideBar div + div {
  margin-top: 15px;
}

@media screen and (max-width: 1199px) {
  .SideBar {
    right: 15px;
  }
}

@media screen and (max-width: 836px) {
  .SideBar {
    display: none;
  }
}

@keyframes swing {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}
