footer {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.Contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 1.2em;
    height: 100%;
}

a+a {
    margin-left: 10px;
}

.Contacts a path {
    transition: fill .2s;
}

.Contacts a svg {
    transition: transform .2s;
}

.Contacts a:hover path {
    fill: #ED6464;
}

.Contacts a:hover svg {
    transform: scale(1.1);
}