footer {
    height: 50px;
}

.Contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 1.2em;
    height: 100%;
}

a+a {
    margin-left: 10px;
}

footer i {
    transition: all .2s;
}

.Contacts a:hover i {
    color: #ED6464;
    transform: scale(1.2);
}

@media screen and (max-width: 836px) {
    footer {
      height: auto;
    }
}