.HomePage h1 span {
    color: #ED6464;
}

.RedBtn {
    font-size: 1.5em;
    border: 2px solid white;
    padding: 5px 20px;

    display: flex;
    align-items: center;

    transition: background-color .2s;

    margin-top: 2%;
}

.RedBtn svg {
    transform: rotate(90deg);
    margin-left: 10px;
}

.RedBtn:hover {
    background-color: #ED6464;
    border-color: #ED6464;
}

.RedBtn:hover svg {
    animation: jumping 1s ease-out;
}

@media screen and (max-width: 700px) {
    .RedBtn {
        font-size: 1.2em;
    }
  }

@media screen and (max-width: 600px) {

    .HomePage {
        overflow: visible;
    }
}